<table class="table">
  <thead>
    <tr>
      <th *ngFor="let item of allQuestions" scope="col"  class="thead-dark">
        {{ item[0].category }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <button type="button" class="btn btn-primary">$100</button>
      </th>
      <td><button type="button" class="btn btn-primary">$100</button></td>
      <td><button type="button" class="btn btn-primary">$100</button></td>
      <td><button type="button" class="btn btn-primary">$100</button></td>
      <td><button type="button" class="btn btn-primary">$100</button></td>
    </tr>
    <tr>
      <th scope="row">
        <button type="button" class="btn btn-primary">$100</button>
      </th>
      <td><button type="button" class="btn btn-primary">$200</button></td>
      <td><button type="button" class="btn btn-primary">$200</button></td>
      <td><button type="button" class="btn btn-primary">$200</button></td>
      <td><button type="button" class="btn btn-primary">$200</button></td>
    </tr>
    <tr>
      <th scope="row">
        <button type="button" class="btn btn-primary">$500</button>
      </th>
      <td><button type="button" class="btn btn-primary">$500</button></td>
      <td><button type="button" class="btn btn-primary">$500</button></td>
      <td><button type="button" class="btn btn-primary">$500</button></td>
      <td><button type="button" class="btn btn-primary">$500</button></td>
    </tr>
    <tr>
      <th scope="row">
        <button type="button" class="btn btn-primary">$1000</button>
      </th>
      <td><button type="button" class="btn btn-primary">$1000</button></td>
      <td><button type="button" class="btn btn-primary">$1000</button></td>
      <td><button type="button" class="btn btn-primary">$1000</button></td>
      <td><button type="button" class="btn btn-primary">$1000</button></td>
    </tr>
    <tr>
      <th scope="row">
        <button type="button" class="btn btn-primary">$1200</button>
      </th>
      <td><button type="button" class="btn btn-primary">$1200</button></td>
      <td><button type="button" class="btn btn-primary">$1200</button></td>
      <td><button type="button" class="btn btn-primary">$1200</button></td>
      <td><button type="button" class="btn btn-primary">$1200</button></td>
    </tr>
  </tbody>
</table>
