<!-- <router-outlet> -->
<div
  class="background"
  *ngIf="showSpinner; else loaded"
  [ngStyle]="{ 'background-image': getUrl() }"
>
  <div class="spinner">
    <app-atom-spinner
      [animationDuration]="1000"
      [size]="100"
      [color]="'#000000'"
    ></app-atom-spinner>
  </div>

  <div style="position:relative; top: -60px; left: 30px;"></div>
</div>
<!-- </router-outlet> -->
<ng-template #loaded>
  <div class="background" [ngStyle]="{ 'background-image': getUrl() }">
    <div class="userDollars" style="text-align: right;">
      <span>Your Winnings ${{userScore}}</span>
      <p *ngIf="name$">Welcome to Jeopardy {{ name$ }}!!</p>
      <p>You have answered {{ questionCounter }} of 25 Questions</p>
    </div>
    <hr />
    <!-- <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-card>
          <nz-statistic
            [nzValue]="correctAnswerCount"
            [nzTitle]="'Active'"
            [nzPrefix]="prefixTplOne"
            [nzSuffix]="'%'"
            [nzValueStyle]="{ color: '#3F8600' }"
          >
          </nz-statistic>
          <ng-template #prefixTplOne
            ><i nz-icon nzType="arrow-up"></i
          ></ng-template>
        </nz-card>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-card>
          <nz-statistic
            [nzValue]="incorrectAnswerCount"
            [nzTitle]="'Idle'"
            [nzPrefix]="prefixTplTwo"
            [nzSuffix]="'%'"
            [nzValueStyle]="{ color: '#CF1322' }"
          >
          </nz-statistic>
          <ng-template #prefixTplTwo
            ><i nz-icon nzType="arrow-down"></i
          ></ng-template>
        </nz-card>
      </nz-col>
    </nz-row> -->
    <table class="table table-striped">
      <thead>
        <tr class="text-center align-middle" *ngFor="let item of allQuestions">
          {{
            item[0].category
          }}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td
            *ngFor="let x of category1; let i = index"
            class="text-center align-middle"
          >
            <button
              type="button"
              id="cat1-btn{{ i + 1 }}"
              (click)="clickButtonTakeAction($event)"
              [ngClass]="x.disabled ? 'strikethrough' : 'null'"
              [disabled]="x.disabled"
              class="btn btn-info"
              value="{{ i + 1 }}00"
              data-toggle="modal"
              attr.data-target="#cat{{ i + 1 }}"
              data-keyboard="false"
              data-backdrop="static"
              category="this.category1"
            >
              ${{ i + 1 }}00
            </button>
          </td>
        </tr>
        <tr>
          <td
            *ngFor="let x of category2; let i = index"
            class="text-center align-middle"
          >
            <button
              type="button"
              id="cat2-btn{{ i + 1 }}"
              (click)="clickButtonTakeAction($event)"
              [ngClass]="x.disabled ? 'strikethrough' : 'null'"
              [disabled]="x.disabled"
              class="btn btn-primary"
              value="{{ i + 1 }}00"
              data-toggle="modal"
              attr.data-target="#cat{{ i + 1 }}a"
              data-keyboard="false"
              data-backdrop="static"
              category="this.category2"
            >
              ${{ i + 1 }}00
            </button>
          </td>
        </tr>
        <tr>
          <td
            *ngFor="let x of category3; let i = index"
            class="text-center align-middle"
          >
            <button
              type="button"
              id="cat3-btn{{ i + 1 }}"
              (click)="clickButtonTakeAction($event)"
              [ngClass]="x.disabled ? 'strikethrough' : 'null'"
              [disabled]="x.disabled"
              class="btn btn-warning"
              value="{{ i + 1 }}00"
              data-toggle="modal"
              attr.data-target="#cat{{ i + 1 }}b"
              data-keyboard="false"
              data-backdrop="static"
              category="this.category3"
            >
              ${{ i + 1 }}00
            </button>
          </td>
        </tr>
        <tr>
          <td
            *ngFor="let x of category4; let i = index"
            class="text-center align-middle"
          >
            <button
              type="button"
              id="cat4-btn{{ i + 1 }}"
              (click)="clickButtonTakeAction($event)"
              [ngClass]="x.disabled ? 'strikethrough' : 'null'"
              [disabled]="x.disabled"
              class="btn btn-light"
              value="{{ i + 1 }}00"
              data-toggle="modal"
              attr.data-target="#cat{{ i + 1 }}aa"
              data-keyboard="false"
              data-backdrop="static"
              category="this.category4"
            >
              ${{ i + 1 }}00
            </button>
          </td>
        </tr>
        <tr>
          <td
            *ngFor="let x of category5; let i = index"
            class="text-center align-middle"
          >
            <button
              type="button"
              id="cat5-btn{{ i + 1 }}"
              (click)="clickButtonTakeAction($event)"
              [ngClass]="x.disabled ? 'strikethrough' : 'null'"
              [disabled]="x.disabled"
              class="btn btn-success"
              value="{{ i + 1 }}00"
              data-toggle="modal"
              attr.data-target="#cat{{ i + 1 }}bb"
              data-keyboard="false"
              data-backdrop="static"
              category="this.category5"
            >
              ${{ i + 1 }}00
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
<!-- Modal -->
    <div
      *ngFor="let item of category1; let i = index"
      [hidden]="IsmodelShow"
      class="modal fade"
      id="{{ modalId }}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">
              {{ cat }}
            </h5>
          </div>
          <div *ngFor="let itemx of incorrectAnswers" class="modal-body">
            <div class="input-group-text">
              <label class="form-check-label" for="question">
                <input
                  type="radio"
                  (change)="onSelectionChange($event)"
                  name="question"
                  id="question"
                  aria-label="Radio button for following text input"
                  [value]="itemx"
                />
                {{ itemx }}</label
              >
            </div>
          </div>
          <div class="modal-footer">
            <circle-progress
              [percent]="timeLeft"
              [subtitle]="Seconds"
              [radius]="55"
              [outerStrokeWidth]="8"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>

            <button
              #savebutton
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              id="suc-btn{{ i + 1 }}"
              (click)="checkAnswerGiveDollars()"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- <ng-template #content let-modal>
  <div [ngStyle]="{ 'background-image': getUrl() }">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Daily Double</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="betAmount">Bet Amount</label>
        <div class="input-group">
          <form [formGroup]="myForm">
          <input type="text" id="dailyD" formControlName="dailyD" class="form-control"
            autofocus autocomplete="off" (keypress)="keyPress($event)"/>
            <div *ngIf="f.dailyD.errors; else dailyDButton">
              Invalid Amount Entered
            </div>
            <button type="button" id="dailyDButton" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
          </form>
        </div>
      </div>
    </form>
  </div>
  </div>
</ng-template> -->




