<!DOCTYPE html>
<html>

<head>
  <title>Angular Jeopardy</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Baloo|Roboto:400,700" rel="stylesheet">
</head>

<body>
  <div id="splash"></div>
  <div class="splash-overlay" id="overlay-top"></div>
  <div class="splash-overlay" id="overlay-bottom"></div>

  <div id="wrapper">
    <!--Form action to Login Servlet-->

    <input id="login-field" type="text" placeholder="Enter your Name" maxlength="40" name="uname" autofocus
      autocomplete="off" required>

    <button id="login-button">Login</button>
    <div id="credits-text">Angular Jeopdardy</div>
  </div>
</body>

</html>