<!DOCTYPE html>
<html>
  <head>
    <title>Angular Jeopardy</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Baloo|Roboto:400,700"
      rel="stylesheet"
    />
  </head>

  <body [ngStyle]="{ 'background-image': getUrl() }">
    <div id="splash"></div>
    <div class="splash-overlay" id="overlay-top"></div>
    <div class="splash-overlay" id="overlay-bottom"></div>

    <div id="wrapper">
      <form [formGroup]="loginForm" (ngSubmit)="addPlayer()">
        <div class="form-group">
          <input type="text" formControlName="playerName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.playerName.errors }"
          id="login-field" #nameInput  autofocus autocomplete="off" />
        <div *ngIf="submitted && f.playerName.errors" class="invalid-feedback">
          <div *ngIf="f.playerName.errors.required">Name is required</div>
        </div>
        <!-- <a [routerLink]="['../jeopardyBoard']"> -->
          <button id="login-button" (click)="addPlayer()">Login</button>
      </div>
      </form>
      <div id="credits-text">Sarthak's Jeopardy</div>
    </div>
  </body>
</html>
